img {
  max-width: 100%;
}

/* Style to stop cards being styled as links */

a, a:hover {
  text-decoration: none;
  color: inherit;
}

/* Style to produce hover effect on card images */

.card-img-top {
  opacity: 70%;
}

.card-img-top:hover {
  opacity: 100%;
}

/* Styling to give space between rows */

.row {
  margin-bottom: 1rem;
}

/* Styling to give space between buttons at bottom of page */

.bottom-link {
  margin: 0.5rem;
}

/* box shadow around buttons */

.btn-primary {
  box-shadow: 1px 1px 10px #007bff;
}

/* style to remove hover effect on phone number button as it doesn't link to anything */

.disabled-btn:hover {
  background-color: #007bff;
  border-color: #007bff;
}

/* Media Query to put space between cards in smaller screen sizes */

@media only screen and (max-width: 767.9px) {
  .col-md-6:first-of-type {
    margin-bottom: 1rem;
  }
}